#GridCon {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px;
    background-color: black;
    width: 253px;
    height: 253px;
    margin:0 auto;
  }

  #ColorField {
    text-align: center;    
  }
.WhiteFieldBut {
  border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; 
    width: 45px;  
    height: 45px;
    margin: 4px;
    background-color: white;
    color: black;  
}
.RedFieldBut {
  border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; 
    width: 45px;  
    height: 45px;
    margin: 4px;
    background-color: red;
    color: white;   
}
.BlueFieldBut {
  border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; 
    width: 45px;  
    height: 45px;
    margin: 4px;
  background-color: dodgerblue;
  color: white;  
}
.LightFieldBut {
  border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; 
    width: 45px;  
    height: 45px;
    margin: 4px;
    background-color: bisque;
    color: black;    
}
.DarkgreyFieldBut {
  border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; 
    width: 45px;  
    height: 45px;
    margin: 4px;
    background-color:darkslategray; 
    color: white;
}